.chatdropdown__userimg{
    height:2.4rem;
    border-radius: 100%;
    width: 2.4rem;
    margin: 0.5rem 0.5rem;
    justify-content: center;
    padding: auto;
}

.chatdropdown__box{
    background-color: white;
    border: 0.5px solid #0c82a644;
    box-sizing: border-box;
    box-shadow:0 0 1px 1px #0c82a628;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 14rem;
    height: 3rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.chatdropdown__text{
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #091320

}

.chatdropdown__popup__chat{
    margin-left: 6.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

.chatdropdown__popup__arrow{
    margin-left: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;

}

.chatdropdown__usersimg{
    border-radius: 100%;
    height:3rem;
    width: 3rem;
    margin: 0.5rem 0.5rem;
    justify-content: center;
    padding: auto;

}

