@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Righteous&family=Sacramento&display=swap');

.forecast-body{
    display: flex;
    width: 100%;
    background: linear-gradient(
    360deg, #FFFFFF 10.33%, rgba(142, 213, 209, 0.3) 56.4%, rgba(44, 177, 170, 0.28) 96.14%);
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.forecast-topbody{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
}
.forecast-topbody>p{
    margin-bottom: 0;
    margin-right: 1rem;
}


.forecast-forecastbody{
    display: flex;
    flex-direction: column;
    width: 55rem;
    height: 40rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    align-content: center;
    align-items: center;
}

.forecast-forecastbody__today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45.3rem;
    height: 12.5;
}

.forecast-forecastbody__today>p{
    margin-left: -42rem;
}

.forecast-forecastbody__today__primaryDates{
    display: flex;
    flex-direction: row;   
    width: 42rem;
    height: 6.6rem;
    justify-content: space-around;
}

.primaryDates__temp{
    font-size: 48px;
}

.primaryDates__windHum{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.primaryDates__windHum__Humidity>span{
    margin-left: 1rem;
}

.primaryDates__winHum__Wind>span {
    margin-left: 1rem;
}

.forecast-forecastbody__today__secondaryDates{
    width: 42rem;
    height: 5.6rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.forecast-forecastbody__today__maxTempRiseLvl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.8rem;
    border-bottom:  1px solid rgba(0, 0, 0, 0.1);
}

.forecast-forecastbody__today__minTempSet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.8rem;
}

.forecast-forecastbody__nextDays{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55rem;
}

.forecast-forecastbody__tomorrow, .forecast-forecastbody__afterTomorrow, .forecast-forecastbody__afterAfterTomorrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid #00000040
}

.secondaryDates__firstpart,.secondaryDates__secondPart{
    margin-top: 1rem;
}
.secondaryDates__firstpart>span,.secondaryDates__secondPart>span{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.3rem;
}

.forecast-searchBar__Box{
    width: 26rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(44, 177, 170, 0.3);
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
    border-radius: 27px;
}

.forecast-seachBar__input{
    width: 40%;
    border: none;
    font-size: 18px;
}

.searchBar-container__button{
    width: 3.5rem;
    height: 3.5rem;
    background:transparent;
    border-left: 1px solid #2CB1AA;
    padding-left: 2px;
}

.forecast-seachBar__button{
    width: 3.5rem;
    height: 3.5rem;
    background: rgba(44, 177, 170, 0.5);
    border-radius: 50%;
    border: none;
    color: #006184;
    font-size: 1.5rem;
}
