.uploadinput__addphoto{
    display: none;
}

.uploadinput__labelphoto{
    cursor: pointer;
    margin-top: 0.5rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}