
.logo__divider{
    height: 0.1rem;
    width: 38.4rem;
    background-color:rgba( #7494be, 0.7); 
    margin:5rem 2rem 8rem 2rem;
    align-content: center;
    
}

.pagedivider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logowdp__icon{
    height: 4rem;
}

@media(max-width:391px){
    .logo__divider{
        width: 4rem
    }
    .logowdp__icon{
        width: 2rem;
        height: 2rem;
    }
    .pagedivider{
        margin-top: -4rem;
        display: inline-flex;
        margin-bottom: -4rem;
    }
}