.player__backgroundimg{
    width: 80%;
    display: block;
    margin: auto;
    border:1.5rem solid rgba(#92E2C8, 0.3); ;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.detailsnews__title{
    
    font-family: 'Righteous', cursive;
  
}

.detailsnews__description{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.detailnews__main{
    margin-left: 11.3rem;
    margin-right: 5.75rem;
    margin-top: 4.25rem;
    margin-bottom: 2rem;
}


.player__wrapper {
    // position: relative;
    top: -1rem;
    
}
  
.reactplayer {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 5rem;
    // left: 12.5rem;
    // box-sizing: border-box;
    filter: drop-shadow(0.2rem 0.25rem 1.8rem #FFFFFF);
    
}

.user__img{
    height:5rem ;
    border-radius: 0.5rem;
    width: 5rem;
}

.detailnews__input{
    width: 80%;
    box-sizing: border-box;
    border-radius: 0.9rem;
}



.comments__container{
    width: 55.8rem;
    height: 5.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid rgba(44, 177, 170, 0.3);
    border-radius: 1rem;
    margin-left: 4rem;
}

.comments__input{
    width: 50.5rem;
    border: none;
}

.comments__input:focus{
    outline: none;
}

.comments__input::placeholder{
    font-family: 'Roboto Mono', monospace;
    padding-left: 1.6rem;
}

.comments__containerbutton{
    width: 5.25rem;
    height: auto;
    background:transparent;
    border-left: 0.1rem solid rgba(44, 177, 170, 0.3);;;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem
    
    
}

.comments__button{
    width: 3.8rem;
    height: 3.6rem;
    background: rgba(44, 177, 170, 0.5);
    border-radius: 50%;
    border: none;
    color: #006184;
    
}

svg{
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
}



.comments__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 64.4rem;
    height: 4.6rem;
    margin-left: 14.3rem;
    
}

.comments__counter{
    font-family:'Roboto Condensed', sans-serif;
    margin-left: 2rem; 
    position: absolute;
    left: 8rem;
    top: 78rem;
}

.backbutton{
    margin-left: 72.25rem;
    margin-bottom: 8rem;
    width: 8rem;
    height: 3.5rem;
    background: rgba(#2CB1AA,  0.5) ;
    font-family: 'Righteous', cursive;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border:none;
    margin-top:4rem
}

.backbutton__link{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}