

.news__header{
    display: flex; 
}

.news__title{
    font-family: 'Righteous', cursive;
    margin-left: 14rem;
    margin-top: 13rem;
    position: relative;
    display: inline-block;
    font-size: 7rem;
}

.news__title::after{
    content: '';
    position: absolute;
    background-color: rgba( #000000, 0.7);
    height: 0.1rem;
    width: 22rem;
    top: 1.5em;
    left: -2rem;

}

.news__image{
   width: 35rem;
   height: 30rem;
   top: -1rem;
   position: relative;
   margin-left: 8rem;
   border-radius: 2%;
   float: right;
   z-index: -1;
}

.news__subimage{
    border: 1rem solid rgba(#88BFAD, 0.4);
    height: auto;
    width: 14rem;
    position: absolute;
    bottom: 1%;
    right: 10%;
    border-radius: 5%;
}

.news__items{
    margin-left: 4rem;
    margin-top: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: justify;
}

.cardnews{
    width: 22rem;
    padding-bottom: 2rem;
}

.cardnews__date{
    color: rgba( #7494be, 0.7);
    display: flex;
    justify-content: flex-end;
}

.cardnews__footer{
    background-color: white;
}

.cardnews__main{
    height: 14rem;
}

.cardnews__title{
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cardnews__text{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.cardnews__link{
    text-decoration: none;
    color: currentColor ;
}

@media(max-width:391px){
    .news__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news__title{
        font-family: 'Righteous', cursive;
        margin-left: 5.5rem;
        margin-top: 2.5rem;
        font-size: 2rem;
    }

    .news__title::after{
        content: '';
        background-color: rgba( #000000, 0.7);
        height: 0.1rem;
        width: 6.5rem;
        margin-left: 1.5rem;
    }
    .news__image{
        width: 13rem;
        height: 8rem;
        border-radius: 2%;
       margin-top: 2rem;
       margin-right: 9.5rem;
     }
    
     .news__subimage{
        border: 0.4rem solid rgba(#88BFAD, 0.4);
        height: auto;
        width: 4rem;
        border-radius: 5%;
        position: absolute;
        top: 35%;
        right: 39%;
        z-index: -1;
    }
    .news__items{
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        margin:  0.5rem 0.5rem 0.5rem 0.1rem;
        width: 15rem;
    }
    .cardnews{
        width: 15rem;
        display: flex;
        flex-direction:column
    }

    .cardnews__main{
        height: 17.5rem;
    }   
    
}