.news__header{
    display: flex;
    
}



.news__title{
    font-family: 'Righteous', cursive;
    margin-left: 20rem;
    margin-top: 16rem;
}

.news__image{
   width: 25rem;
   height: 20rem;
   margin-top: 8rem;
   position: relative;
   margin-left: 12rem;
  
}

.news__subimage{
    border: 5px solid #88BFAD;
    height: 12rem;
    width: 12rem;
    margin-left: 35rem;
    position: absolute;
    bottom: 3rem;
}

