.uploadinput{
    display: none;
}

.uploadinput__label{
   
    width: 12rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba( #2CB1AA, 0.5);
    padding: auto;
    font-weight: bold;
    font-family: 'Righteous';
    box-shadow: 0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.25);
   
}